<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Percentage.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
  <userSettings>
    <Percentage.Wpf.Properties.Settings>
      <setting name="CriticalNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LowNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FullNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CriticalColor" serializeAs="String">
        <value>232, 17, 35</value>
      </setting>
      <setting name="LowColor" serializeAs="String">
        <value>202, 80, 16</value>
      </setting>
      <setting name="ChargingColor" serializeAs="String">
        <value>16, 137, 62</value>
      </setting>
      <setting name="HighNotificationValue" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="RefreshSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LowNotificationValue" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CriticalNotificationValue" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TrayIconFont" serializeAs="String">
        <value>Microsoft Sans Serif, 11pt</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NormalColor" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
    </Percentage.Wpf.Properties.Settings>
    <Wpf.Properties.Settings>
      <setting name="CriticalNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LowNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FullNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CriticalColor" serializeAs="String">
        <value>232, 17, 35</value>
      </setting>
      <setting name="LowColor" serializeAs="String">
        <value>202, 80, 16</value>
      </setting>
      <setting name="ChargingColor" serializeAs="String">
        <value>16, 137, 62</value>
      </setting>
      <setting name="HighNotificationValue" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="RefreshSeconds" serializeAs="String">
        <value>10</value>
      </setting>
    </Wpf.Properties.Settings>
  </userSettings>
</configuration>
